############################
# temp and backups
*~
*.log
*.bak
tmp
$RECYCLE*
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable
Desktop.ini

# ts scripting now brings node_modules
node_modules/
coverage/
test_dir*/

# symbolic links (Ubuntu default naming) to somewhere
Link to *

# well, package-lock bores me for now...
package-lock.json

# all hidden files/folders...
.*
# ... with specific exceptions
!.eslint*
!.babel*
!.mocha*
!.gitignore
!.editorconfig

# permit specific vscode settings (stackoverflow.com/a/5534865/444255)
!.vscode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# certainly never
.npmrc

